<h4>{{inputData.someTitle}}</h4>
<span>{{inputData.someDescription}}</span>

<form>
    <input type="text" [(ngModel)]="formData.someFormStringInput">
    <input type="number" [(ngModel)]="formData.someFormNumberInput">
    <button (click)="onSubmit()">Submit</button>
</form>
