<div *ngIf="someData">
    <h4>{{someData.someTitle}}</h4>
    <p>{{someData.someDescription}}</p>
    <input type="text" [(ngModel)]="someData.text">
    <input type="button" value="Submit" (click)="updateData()">
</div>
